@model IEnumerable<Khinov_LR9.Models.ProductModel>
<style>
    td{
        padding-right: 10px;
        border: 2px solid;
        text-align: center;
    }
    th{
        border: 2px solid;
        padding-left: 5px;
        padding-right: 5px;
    }
</style>
<h1>Product List</h1>
<table>
    @foreach(var product in Model)
    {
    <tr>
        <th>@product.ID</th>
        <td>@product.name</td>
        <td>@product.Price</td>
    </tr>
    }
</table>
